@mixin xingFont($size,$weight,$color,$direction){
    font-family: "source-han-sans-traditional";
    font-size: $size;
    font-weight: $weight;
    color: $color;
    text-align: $direction;
}

@mixin hansFont($size,$weight,$color,$direction){
    font-family: "source-han-sans-traditional";
    font-size: $size;
    font-weight: $weight;
    color: $color;
    text-align: $direction;
}

@mixin urwCFont($size,$weight,$color,$direction){
    font-family: urw-din-condensed, source-han-sans-traditional,sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    text-align: $direction;
    font-style: normal;
}

@mixin urwFont($size,$weight,$color,$direction){
    font-family: urw-din, source-han-sans-traditional,sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    text-align: $direction;
    font-style: normal;
}