@mixin xingFont($size,$weight,$color,$direction){
    font-family: "source-han-sans-traditional";
    font-size: $size;
    font-weight: $weight;
    color: $color;
    text-align: $direction;
}

@mixin hansFont($size,$weight,$color,$direction){
    font-family: "source-han-sans-traditional";
    font-size: $size;
    font-weight: $weight;
    color: $color;
    text-align: $direction;
}