
//nav_mobile
#nav{
    position: fixed;
    z-index: 9998;
    top: 40px;
    right: 40px;
    @include sm(){
        top: 20px;
        right: 20px;
    }
}
.nav_logo{
    color: #3B3939;
    font-family: urw-din-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 30px;
}

.nav-item{
    color: #3B3939;
    font-family: urw-din-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 21px;
}


.nav_mobile{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $main;
    opacity: 0;
    z-index: 9999;
    display: none;
    ul{
        position: relative;
        margin-top: 7vw;
        padding-left: 8vw;
    }
    .nav_list{
        position: relative;
        margin: 0 auto;
        list-style:none;
        margin-top: 20px;
        margin-bottom: 20px;
        a{
            cursor: pointer;
            @include urwFont(30px,300,#fff,left);
        }
        .nav_work{
            width: 100%;
            display: block;
            @include urwFont(20px,300,#fff,left);
            margin-bottom: 20px;
            margin-top: 20px;
            letter-spacing: 0.5px;
        }
        .nav_work_web::before{
            position: relative;
            content:"WEB";
            @include urwFont(16px,300,#fff,left);
            padding: 5px 10px;
            margin-right: 10px;
            background: $faded-red;
            top: -2px;
            letter-spacing: 0.7px;
            border-radius: 10px;
        }
        .nav_work_app::before{
            position: relative;
            content:"APP";
            @include urwFont(16px,300,#fff,left);
            padding: 5px 10px;
            margin-right: 10px;
            background: $faded-red;
            top: -2px;
            letter-spacing: 0.7px;
            border-radius: 10px;
            
        }
        .nav_work_banner::before{
            position: relative;
            content:"GRAPHIC";
            @include urwFont(16px,300,#fff,left);
            padding: 5px 10px;
            margin-right: 10px;
            background: $faded-red;
            top: -2px;
            letter-spacing: 0.7px;
            border-radius: 10px;
        }
    }
    .cancel_btn{
        position: absolute;
        top: 20px;
        right: 20px;
        img{
            width: 40px;
        }
    }
}

.nav_mobile_blue{
    background-color: $blue;
    .nav_list{
        .nav_work_web::before{
            background: rgb(0, 77, 172);
        }
        .nav_work_app::before{
            background: rgb(0, 77, 172);
        }
        .nav_work_banner::before{
            background: rgb(0, 77, 172);
        }

    }
}

.nav_mobile_orange{
    background-color: $naked;
    .nav_list{
        .nav_work_web::before{
            background: #7e2e03;
        }
        .nav_work_app::before{
            background: #7e2e03;
        }
        .nav_work_banner::before{
            background: #7e2e03;
        }

    }
}

.nav_mobile_gold{
    background-color: $wolf;
    .nav_list{
        .nav_work_web::before{
            background: #855107;
        }
        .nav_work_app::before{
            background: #855107;
        }
        .nav_work_banner::before{
            background: #855107;
        }

    }
}

.nav_mobile_vitoas{
    background-color: $vitoas;
    .nav_list{
        .nav_work_web::before{
            background: #b56100;
        }
        .nav_work_app::before{
            background: #b56100;
        }
        .nav_work_banner::before{
            background: #b56100;
        }

    }
}

.nav_mobile_bifi{
    background-color: $bifi;
    .nav_list{
        .nav_work_web::before{
            background: #0c6bd2;
        }
        .nav_work_app::before{
            background: #0c6bd2;
        }
        .nav_work_banner::before{
            background: #0c6bd2;
        }

    }
}

.nav_mobile_nijigen{
    background-color: $nijigen;
    .nav_list{
        .nav_work_web::before{
            background: #2fa09f;
        }
        .nav_work_app::before{
            background: #2fa09f;
        }
        .nav_work_banner::before{
            background: #2fa09f;
        }

    }
}






//content
.index_top_banner{
    margin-top: 30px;
    margin-bottom: 115px;
    @include md(){
        margin-bottom: 70px;
    }
    @include sm(){
        // height: 400px;
    }
    img{
        width: 100%;
        @include sm(){
            width: 160%;
        }
    }
}
.index_title{
    margin-bottom: 50px;
}
.pic_btm{
    margin-bottom: 50px;
    @include sm(){
        margin-bottom: 30px;
    }
}
.pic_btm_mobile{
    @include sm(){
        margin-bottom: 10px;
    }
}

.work_block{
    margin-bottom: 50px;
    
    @include sm(){
        margin-bottom: 30px;
    }
    cursor: pointer;
    transition: all 0.9s;

    &:hover img{

        box-shadow: 2px 2px 32px 4px rgba(0,0,0,0.20);
       
    }


    img{
        width: 100%;
        margin-bottom:10px;
        transition: all 0.9s;
        border-radius: 13px;
        
    }
    .word_block{
        
        .tag{
            @include urwFont(21px,200,$faded-red,left);
            letter-spacing: 0.1px;
            margin-bottom: 5px;
            @include md(){
                margin-bottom:0;
            }
        }
        .name{
            @include urwFont(24px,300,$greyish-brown,left);
            transition: border 0.3s;
            letter-spacing: 1px;
            
        }
    }
}

.block_nijigen{
    background: linear-gradient(180deg, rgba(110,244,217,1) 0%, rgba(31,183,246,1) 100%);
}