.navbar_cv{
    background-color: $light-blue;
}

.navbar_naked{
    background-color: $light-naked;
}

.navbar_wolf{
    background-color: $light-wolf;
}

.navbar_grey{
    background-color: $top_bg;
}

.navbar_vitoas{
    background-color: $vitoas_light;
}


.navbar-toggler_orange{
    background-color: $naked;
}

.navbar-toggler_grey{
    background-color: $brown-grey-two;
}

.navbar-toggler_gold{
    background-color: $wolf;
}

.navbar-toggler_blue{
    background-color: $blue;
}

.navbar-toggler_vitoas{
    background-color: $vitoas;
}

.orange_sec{
    background-color: $light-naked;
}
.gold_sec{
    background-color: $light-wolf;
}
.reminder_sec{
    background-color: $light-reminder;
}

.blue_sec{
    background-color:$light-blue;
}

.vitoas_sec{
    background-color: $vitoas_light;
}

//網頁作品的固定樣式

.top_sec_blue{
    background-color:$light-blue;
}

.top_sec_orange{
    background-color:$light-naked;
}

.top_sec_gold{
    background-color:$light-wolf;
}

.top_sec_vitoas{
    background-color: $vitoas_light;
}
.top_sec{
    //background-color: $top_bg;
    height: 350px;
    margin-bottom: 230px;
    @include xl(){
        margin-bottom: 130px;
    }
    @include md(){
        margin-bottom: 130px;
        height: 240px;
    }
    @include sm(){
        margin-bottom: 15vw;
        height: 45vw;
    }

    .top_pic_sec{
        position: relative;
        top: 40px;
        .top_pic{
            width: 100%;
        }
    }
}

//手機作品固定樣式

.top_sec_mobile{
    //background-color: $top_bg;
    height: 350px;
    margin-bottom: 230px;
    @include xl(){
        margin-bottom: 130px;
    }
    @include md(){
        margin-bottom: 130px;
        height: 240px;
    }
    @include sm(){
        margin-bottom: 5vw;
        height: 90vw;
        overflow: hidden;
    }

    .top_pic_sec_mobile{
        position: relative;
        top: 40px;
        .top_pic{
            width: 100%;
        }
        @include sm(){
            top: 10px;
        }
    }
}


//其他樣式

.sec2{
    .big_title{
        margin-bottom: 60px;
        @include md(){
            margin-bottom: 40px;
        }
        @include sm(){
            padding-left: 30px;
            margin-bottom: 30px;
        }

        .title_works{
            @include hansFont(57px,500,$greyish-brown,left);
            letter-spacing: -1px;
            @include sm(){
                font-size: 40px;
            }
            @include mobile480(){
                font-size: 38px;
            }
            @include iphone5(){
                font-size: 33px;
            }
        }
        .title_kind{
            @include hansFont(48px,200,$greyish-brown,left);
            letter-spacing: -1px;
            top: -10px;
            position: relative;
            @include sm(){
                font-size: 30px;
            }
            @include mobile480(){
                font-size: 28px;
            }
            @include iphone5(){
                font-size: 25px;
            }
        }
        .title_line{
            width: 20%;
            height: 8px;
            
        }
        .title_naked{
            background-color: $naked;
        }
        .title_wolf{
            background-color: $wolf;
        }
        .title_cv{
            background-color: $blue;
        }
        .title_reminder{
            
        }
        .title_vitoas{
            background-color: $vitoas;
        }
    }
   
    .works_subtitle{
        @include hansFont(48px,500,$greyish-brown,left);
        letter-spacing: -1px;
        @include lg(){
            font-size: 40px;
        }
        @include sm(){
            padding-left: 10px;
        }
        @include mobile480(){
            font-size: 35px;
        }
        @include iphone5(){
            font-size: 30px;
        }

    }
    .works_text{
        @include hansFont(21px,300,$warm-grey,left);
        @include lg(){
            font-size: 16px;
        }
        @include md(){
            margin-bottom: 20px;
        }
        @include sm(){
            padding-left: 10px;
            padding-right: 10px;
        }
        @include iphone5(){
            
        }
        
    }
    .last_line{
        margin-top: 30px;
        margin-bottom: 136px;
        @include md(){
            margin-top: 0px;
            margin-bottom: 100px;
        }
        @include mobile480(){
            margin-bottom: 60px;
        }
    }
}

.sec3{
    .pic_num_div{
        text-align: center;
        @include lg(){
            text-align: left;
            margin-bottom: 20px;
        }
        @include sm(){
            margin-bottom: 20px;
        }
        @include mobile480(){
            margin-bottom: 15px;
        }
        @include iphone5(){
            margin-bottom: 15px;
        }
        .pic_num{
            @include lg(){
                width: 80px;
            }
            @include md(){
                width: 70px;
            }
            @include sm(){
                width: 60px;
            }
            @include mobile480(){
                width: 50px;
            }
            @include iphone5(){
                width: 40px;
            }
        }

    }
    .sm_title{
        @include hansFont(21px,600,#3e3e3e,left);
        margin-bottom: 15px;
    }
    .sm_text{
        @include hansFont(21px,300,$warm-grey,left);
        margin-bottom: 40px;
        @include lg(){
            font-size: 16px;
        }
        @include md(){
            margin-bottom: 30px;
        }
    }
    .sm_text_top{
        margin-bottom: 10px;
    }
    .sm_middle{
        text-align: center;
    }
  
    .sec_title_block{
        position: relative;
        top: -70px;
        letter-spacing: -2px;
        margin-bottom: 40px;
        @include lg(){
            margin-bottom: 30px;
        }
        @include md(){
            top: -50px;
        }
        @include sm(){
            top: -40px;
        }
        @include mobile480(){
            top: -30px;
        }
        @include iphone5(){
            top: -25px;
        }
    }
    .detail_word{
        position: absolute;
        top: 70px;
        left: calc(50% - 86px);
        @include lg(){
            top: 60px;
            width: 150px;
            left: calc(50% - 75px);
        }
        @include md(){
            top: 40px;
            width: 120px;
            left: calc(50% - 60px);
        }
        @include sm(){
            top: 30px;
            width: 100px;
            left: calc(50% - 50px);
        }
        @include mobile480(){
            top: 25px;
            width: 80px;
            left: calc(50% - 40px);
        }
        @include iphone5(){
            top: 25px;
            width: 70px;
            left: calc(50% - 35px);
        }
    }
    .pic_all_mb{
        margin-bottom: 40px;
        @include md(){
            margin-bottom: 25px;
        }
    }
    .pic_all{
        width: 100%;
       
        vertical-align: inherit;
       
    }
    .pic_btm{
        margin-bottom: 70px;
        @include md(){
            margin-bottom: 45px;
        }
    }
    .pic_last_btm{
        margin-bottom: 120px;
        @include md(){
            margin-bottom: 80px;
        }
    }
}

.sec4{
    .page_dir{
        @include hansFont(28px,800,$very-light-pink,left);
        margin-top: 40px;
        margin-bottom: 40px;
        @include lg(){
            font-size: 21px;
        }
        @include sm(){
            margin-bottom: 20px;
        }
    }

    .page_name{
        @include hansFont(28px,600,$black,left);
        margin-bottom: 60px;
        
        @include lg(){
            font-size: 16px;
        }
    }
    .page_name_cv{
        transition:color 0.3s;
        &:hover{
            color: $blue; 
        }
    }
    .page_name_wolf{
        transition:color 0.3s;
        &:hover{
            color: $wolf; 
        }
    }
    .page_name_naked{
        transition:color 0.3s;
        &:hover{
            color: $naked; 
        }
    }
    .page_name_vitoas{
        transition:color 0.3s;
        &:hover{
            color: $vitoas; 
        }
    }
    .page_next{
        text-align: right;
    }

}