//color
$greyish-brown: #444444;
$warm-grey: #8a8585;
$brown-grey: #9b9b9b;
$brown-grey-two: #838383;
$very-light-pink: #d9d9d9;
$black: #3b3939;
$white: #f9f9f9;
$main: #f27298;
$faded-red: #d4535e;
$light-naked: #fffaf7;
$secondary: #325c2a;
$naked: #ea6a24;
$wolf: #cfa56b;
$light-wolf: #fff9f0;

// Required
@import "functions";
@import "./helpers/variables";
@import "mixins";

//options
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "./helpers/nav";
@import "./helpers/navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";
@import "print";


//all page mixin
@import "./mixins/border";
@import "./mixins/font";
@import "./mixins/grid_self";

//loading
 @import "./helpers/loading";


// all pages css

html,body{
    background-color: #fff;
    overflow-x: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

.sec_title_block{
    .sec_title{
        @include hansFont(124px,900,$very-light-pink,center);
        @include lg(){
            font-size: 100px;
        }
        @include md(){
            font-size: 80px;
        }
        @include sm(){
            font-size: 65px;
        }
        @include mobile480(){
            font-size: 50px;
        }
        @include iphone5(){
            font-size: 45px;
        }
    }
}

.svg_word,.bg_grass{
    position: absolute;
}


//navbar
.navbar{
    padding-bottom: 10px; 
    padding-top: 50px;
    @include lg(){
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 35px; 
        padding-bottom: 0px;
    }
    @include sm(){
        padding-top: 20px;
        padding-left: 30px;
    }
    @include mobile480(){
        padding-left: 20px;
        padding-right: 20px;
    }
}
.logo{
    width: 150px;
    @include md(){
        width: 140px;
    }
    @include sm(){
        width: 120px;
    }
    @include iphone5(){
        width: 100px;
    }
}

button:focus{
    outline: none;
}


//page css
@import "index";
@import "works";
