//- mixin loading_color()
//-     if(borderColor === "pink")
//-         .loading_bg_pink
//-     else
//-         img(src="./images/logo_gray.svg").logo



.loading_bg.loading_bg_pink
    .loader-inner.ball-pulse
    

