mixin loading_color()
    if(borderColor === "pink")
        .loading_bg.loading_bg_pink
            .loader-inner.ball-pulse
    else if(borderColor === "gold")
        .loading_bg.loading_bg_gold
            .loader-inner.ball-pulse
    else if(borderColor === "blue")
        .loading_bg.loading_bg_blue
            .loader-inner.ball-pulse
    else if(borderColor === "orange")
        .loading_bg.loading_bg_orange
            .loader-inner.ball-pulse
    else if(borderColor === "vitoas")
        .loading_bg.loading_bg_vitoas
            .loader-inner.ball-pulse
    else if(borderColor === "bifi")
        .loading_bg.loading_bg_bifi
            .loader-inner.ball-pulse
    else if(borderColor === "nijigen")
        .loading_bg.loading_bg_nijigen
            .loader-inner.ball-pulse
    


+loading_color

