extend layout.jade

block navbar
    -var path = 'index.html'
    include ./partials/navbar.jade

block content
    .index_section1
        img(src="./images/bg_grass1.png", alt="", srcset="").bg_grass.bg_grass1
        img(src="./images/bg_grass2.png", alt="", srcset="").bg_grass.bg_grass2
        img(src="./images/bg_grass3.png", alt="", srcset="").bg_grass.bg_grass3
        .container
            .row.justify-content-center
                .content.col-8
                    h1 HELLO
                    h3 我是一名 Web / UI 設計師        
                    p 畢業於台北藝術大學新媒體藝術學系，目前有快 2 年相關的工作經驗，專長有 HTML5、CSS3、動畫、網頁設計規劃、App 設計、Banner 製作。
            .row.justify-content-center
                .work_kind
                    .pic.col
                        img(src="./images/index_word_web.svg", alt="", srcset="").svg_word.web_word
                        img(src="./images/work_kind_web.jpg", alt="", srcset="").pic_web
                    .pic.col
                        img(src="./images/index_word_banner.svg", alt="", srcset="").svg_word.banner_word
                        img(src="./images/work_kind_banner.jpg", alt="", srcset="").pic_banner
                    .pic.col
                        img(src="./images/index_word_app.svg", alt="", srcset="").svg_word.app_word
                        img(src="./images/work_kind_app.jpg", alt="", srcset="").pic_app
    .index_section2
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title WHAT I DO
                img(src="./images/index_word_Works.svg", alt="", srcset="").svg_word.works_word
        
            
        