extend layout.jade

block popin
    .nav_mobile
        ul
            li.nav_list
                a(href="./index.html")  ABOUT
            li.nav_list
                a(href="javascript:void(0)")  WORKS:
                .works_list
                    a.nav_work.nav_work_web(href="./works_cv.html") 履歷健診
                    a.nav_work.nav_work_web(href="./works_vitoas.html") 蜜得絲 商品導購頁
                    a.nav_work.nav_work_web(href="./works_bifi.html") 比菲德氏菌 導購頁
                    a.nav_work.nav_work_web(href="./works_nijigen.html") NIJIGEN 官方網頁
                    a.nav_work.nav_work_banner(href="./works_banner.html") Banner Collection
                    a.nav_work.nav_work_banner(href="./works_graphic.html") 平面印刷品
                    a.nav_work.nav_work_web(href="./works_naked.html") 裸雀小酒館 活動頁
            li.nav_list
                a(href="../images/resume.pdf")  RESUME
        .cancel_btn
            img(src="./images/cancel.png", alt="")


block loading
    -var borderColor = 'pink'
    include ./partials/loading.jade


block navbar
    -var path = 'index.html'
    -var logoColor = 'pink'
    include ./partials/navbar.jade

block content
    .index_top_banner
        img(src="./images/index/index_banner_pc2.jpg", alt="")
    .container-fluid
        .container
            .row.sec_title_block.index_title
                .col-12.col-lg-4
                    h1.sec_title WORKS
                .col-12.col-lg-8
                    div.title_divide_line
        .container
            .row
                .col-12.work_block
                    a(href="./works_cv.html")
                        img(src="./images/index/work_long_banner1.jpg").pic_all.d-none.d-md-block
                        .mobile_work.d-block.d-md-none
                            img(src="./images/works_pic_CV.jpg").pic_all
                            .word_block
                                    .tag  RWD Web
                                    .name 履歷健診
            .row
                .col-12.col-md-4.col-lg-4.work_block
                    a(href="./works_bifi.html") 
                        img(src="./images/works_pic_bifi.jpg").pic_all
                        .word_block
                                .tag Mobile Web・Banner
                                .name 比菲德氏菌導購頁
                .col-12.col-md-4.col-lg-4.work_block
                    a(href="./works_vitoas.html") 
                        img(src="./images/works_pic_vitoas.jpg").pic_all
                        .word_block
                                .tag Mobile Web・Banner
                                .name 蜜得絲導購頁
                .col-12.col-md-4.col-lg-4.work_block
                    a(href="./works_banner.html") 
                        img(src="./images/works_pic_banner.jpg").pic_all
                        .word_block
                                .tag Graphic Design
                                .name Banner Collection
            .row
                .col-12.work_block
                    a(href="./works_nijigen.html")
                        img(src="./images/index/work_long_banner2.png").pic_all.d-none.d-md-block.block_nijigen
                        .mobile_work.d-block.d-md-none
                            img(src="./images/works_pic_nijigen.png").pic_all.block_nijigen
                            .word_block
                                    .tag  RWD Web
                                    .name NIJIGEN 官方網頁
            .row
                .col-12.col-md-4.col-lg-4.work_block
                    a(href="./works_graphic.html") 
                        img(src="./images/works_pic_graphics.jpg").pic_all
                        .word_block
                                .tag Graphic design
                                .name 平面印刷品
                .col-12.col-md-4.col-lg-4.work_block
                    a(href="./works_naked.html") 
                        img(src="./images/works_pic_naked.jpg").pic_all.pic_dark_all
                        .word_block
                                .tag RWD Web
                                .name 裸雀小酒館 活動頁

    .container-fluid
        .container
            .row.sec_title_block.index_title
                .col-12
                    div.title_divide_line
            .row.sec_title_block.index_title
                 .col-12
                    h1.sec_title CONTACT ME
                 .col-12
                    h3.sec_text lyachang006@gmail.com
    
    .container-fluid.sec4
        .container 
            .row
                .col
                    div.double_line
            .row
                .col
                    div.copyright © 2017 — 2021 LyaChang  All right reserved