extend layout.jade

block popin
    .nav_mobile
        ul
            li.nav_list
                a(href="./index.html")  ABOUT
            li.nav_list
                a(href="./works.html")  WORKS:
                .works_list
                    a.nav_work.nav_work_web(href="./works_cv.html") 履歷健診
                    a.nav_work.nav_work_web(href="./works_wolf.html") Wolf Blass 活動頁
                    a.nav_work.nav_work_web(href="./works_naked.html") 裸雀小酒館 活動頁
                    a.nav_work.nav_work_app(href="./works_reminder.html") 交通助理
                    a.nav_work.nav_work_banner(href="./works_banner.html") FB / IG 廣告
            li.nav_list
                a(href="../images/resume.pdf")  RESUME
        .cancel_btn
            img(src="./images/cancel.png", alt="")


block loading
    -var borderColor = 'pink'
    include ./partials/loading.jade

block borders
    .top_border_pink
    .bottom_border_pink
    .right_border_pink
    .left_border_pink

block navbar
    -var path = 'index.html'
    -var logoColor = 'pink'
    include ./partials/navbar.jade

block content
    .index_section1
        img(src="./images/bg_grass1.png", alt="", srcset="").bg_grass.bg_grass1
        img(src="./images/bg_grass2.png", alt="", srcset="").bg_grass.bg_grass2
        img(src="./images/bg_grass3.png", alt="", srcset="").bg_grass.bg_grass3.d-none.d-sm-block
        .container
            .row.justify-content-center
                .content.col-lg-8.col-md-10.col-sm-11
                    h1 HELLO
                    h3 我的名字叫張淑涵        
                    p 熱愛設計，享受幫忙解決問題的成就感，目標是成為解決各種問題的專業設計師。專長有 HTML5、CSS3、動畫、網頁設計規劃、App 設計、Banner 製作。
            .row.justify-content-center
                .work_kind
                    .pic.col
                        img(src="./images/index_word_Web.svg", alt="", srcset="").svg_word.web_word
                        img(src="./images/work_kind_web.jpg", alt="", srcset="").pic_web
                    .pic.col
                        img(src="./images/index_word_Banner.svg", alt="", srcset="").svg_word.banner_word
                        img(src="./images/work_kind_banner.jpg", alt="", srcset="").pic_banner
                    .pic.col
                        img(src="./images/index_word_App.svg", alt="", srcset="").svg_word.app_word
                        img(src="./images/work_kind_app.jpg", alt="", srcset="").pic_app
    .index_section2
        img(src="./images/bg_grass4.png", alt="", srcset="").bg_grass.bg_grass4.d-none.d-sm-block
        img(src="./images/bg_grass5.png", alt="", srcset="").bg_grass.bg_grass5.d-none.d-sm-block
        img(src="./images/bg_grass6.png", alt="", srcset="").bg_grass.bg_grass6.d-none.d-sm-block
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title WHAT I DO
                img(src="./images/index_word_Works.svg", alt="", srcset="").svg_word.works_word
        .container
            .row.justify-content-around.works_sec
                img(src="./images/bg_grass3.png", alt="", srcset="").bg_grass.bg_grass3.d-block.d-sm-none
                .works_computer.col-sm-6.col
                    .rec
                        img(src="./images/CV_top.png", alt="", srcset="").works_block_img_L
                .works_word_block.col-sm-5.align-self-center.offset-lg-0.offset-sm-1.col.offset-2
                    h5.kind RWD Web Design
                    h2.works_name 履歷健診
                    a(href="./works_cv.html")
                        div.works_btn 
                            .works_btn_words  See More
                            img.works_btn_arrow(src="./images/go.svg", alt="", srcset="")
            .row.justify-content-around.works_sec
                img(src="./images/bg_grass4.png", alt="", srcset="").bg_grass.bg_grass4.d-block.d-sm-none
                .works_word_block.align-self-center.offset-xl-2.offset-lg-2.col-md-4.col-sm-5.offset-sm-1.col.offset-2.order-sm-1.order-2
                    h5.kind RWD Web Design
                    h2.works_name Wolf Blass
                        br  
                        | 活動頁 
                    a(href="./works_wolf.html")
                        div.works_btn 
                            .works_btn_words  See More
                            img.works_btn_arrow(src="./images/go.svg", alt="", srcset="")
                .works_computer.col-sm-6.col.order-sm-2.order-1
                    .rec
                        img(src="./images/wolf_top.png", alt="", srcset="").works_block_img_R
            .row.justify-content-around.works_sec
                img(src="./images/bg_grass5.png", alt="", srcset="").bg_grass.bg_grass5.d-block.d-sm-none
                .works_computer.col-sm-6.col
                    .rec
                        img(src="./images/naked_top.png", alt="", srcset="").works_block_img_L
                .works_word_block.col-sm-5.align-self-center.offset-lg-0.offset-sm-1.col.offset-2
                    h5.kind RWD Web Design
                    h2.works_name 裸雀小酒館
                        br  
                        | 活動頁 
                    a(href="./works_naked.html")
                        div.works_btn 
                            .works_btn_words  See More
                            img.works_btn_arrow(src="./images/go.svg", alt="", srcset="")
            .row.justify-content-around.works_sec
                img(src="./images/bg_grass6.png", alt="", srcset="").bg_grass.bg_grass6.d-block.d-sm-none
                .works_word_block.works_block_cell.align-self-center.offset-xl-2.offset-lg-2.col-md-4.col-sm-5.offset-sm-1.col.offset-2.order-sm-1.order-2
                    h5.kind App
                    h2.works_name 交通助理
                    a(href="./works_reminder.html")
                        div.works_btn 
                            .works_btn_words  See More
                            img.works_btn_arrow(src="./images/go.svg", alt="", srcset="")
                .works_computer.col-sm-6.col-12.order-sm-2.order-1
                    .rec.cellphone_rec
                        img(src="./images/index_cell_reminder.png", alt="", srcset="").works_block_img_cell_R
            .row.justify-content-around.works_sec.works_sec5
                img(src="./images/bg_grass3.png", alt="", srcset="").bg_grass.bg_grass7
                .works_computer.col-sm-6.col
                    .rec.cellphone_rec
                        img(src="./images/123.png", alt="", srcset="").works_block_img_cell_L
                .works_word_block.col-sm-5.align-self-center.works_word_cell.works_block_cell.col-12.offset-4.offset-sm-0
                    h5.kind Banner
                    h2.works_name Facebook 廣告
                        br  
                        | Instergram 廣告
                    a(href="./works_banner.html")
                        div.works_btn 
                            .works_btn_words  See More
                            img.works_btn_arrow(src="./images/go.svg", alt="", srcset="")
    .index_section3
        img(src="./images/bg_grass7.png", alt="", srcset="").bg_grass.bg_grass7
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title CONTACT ME
                img(src="./images/index_word_Email.svg", alt="", srcset="").svg_word.works_email
            .row.justify-content-center
                img(src="./images/email_icon.svg", alt="")
             .row.justify-content-center
                .email_block
                    a(href="mailto:lyachang006@gmail.com") lyachang006@gmail.com
                    .line 