<!DOCTYPE html>
html(lang="en")
    head
        include ./partials/head.jade

    body
        block popin
            
        block loading

        block borders

        block navbar

        block content
            
        block fix
        