<!DOCTYPE html>
html(lang="en")
    head
        include ./partials/head.jade

    body
        block borders
            .top_border
            .bottom_border
            .right_border
            .left_border

        block navbar

        block content
            
        block fix
        