extend layout.jade

block loading
    -var borderColor = 'blue'
    include ./partials/loading.jade

block borders
    .top_border_blue
    .bottom_border_blue
    .right_border_blue
    .left_border_blue

block navbar
    -var path = 'works.html'
    -var logoColor = ''
    -var nav_bg= 'grey'
    -var togglerColor = 'blue'
    include ./partials/navbar.jade

block content
    .container-fluid.top_sec
        .container
            .row.justify-content-center.top_pic_sec
                .col-12.col-sm-12.col-lg-9
                    img(src="./images/naked_top.png", alt="").top_pic
    .container.sec2
        .row
            .col-12.big_title
                .title_works 裸雀小酒館活動頁
                .title_kind Responsive Website
                .title_line.title_cv
        .row
            .col-12.col-md-4
                .works_subtitle 日期
                .works_text September 2017
            .col-12.col-md-8
                .works_subtitle 客戶
                .works_text The Naked Grouse
        .row.last_line
            .col-12.col-md-4
                .works_subtitle 參與項目
                .works_text 網頁設計
                            br
                            | 響應式網頁設計及 HTML5 切版
                            br
                            | 網頁動態設計及撰寫
            .col-12.col-md-8
                .works_subtitle 目標
                .works_text 裸雀小酒館「人氣主場 由你決定」活動網站，內容為票選最受歡迎的酒專，使用者將會在各酒專當場掃描 QR Code 進入網頁投票，用原本的平面視覺延伸做成活動網頁視覺，以 Fullscreen 網頁形式呈現，資訊說明希望清楚明暸。
    .container-fluid.orange_sec.sec3
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title CASE STUDY
                    img(src="./images/naked_detail.svg").svg_word.detail_word
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 配合原本的商品主視覺更進一步
                    .sm_text 以原本的平面視覺延伸做成活動網頁視覺，配合「人氣主場 由你決定」比較活潑的企劃 —— 票選最受歡迎的酒專，以及本身logo的隨性感，網頁動態也用比較活潑的形式呈現，希望藉由動態讓主視覺有更加分的有加乘感。
            .row.justify-content-center
                .col-12.col-lg-10
                    video(playsinline,loop,autoplay)#player.pic_all
                        source(src="./images/vedio/naked_v1.mov",type="video/mp4")
                .col-12.col-lg-10
                    video(playsinline,loop,autoplay)#player.pic_all.pic_btm
                        source(src="./images/vedio/naked_v2.mov",type="video/mp4")
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 考慮使用者體驗
                    .sm_text 考慮到 Fullscreen 網頁設計，不只用旁邊的點點暗示有4個區域，還用了一般最熟知的漢堡選單，另外也加了通往下一區塊的固定按鈕，上面的 icon 圖示隨著下個區塊的內容做變化。此外可滑性區塊，因為很容易滑走，容易造成使用者的不方便，所以就鎖住讓他不會影響到整體頁面的滾輪。
            .row.justify-content-center
                .col-12.col-lg-10
                    video(playsinline,loop,autoplay)#player.pic_all.pic_btm
                        source(src="./images/vedio/naked_v3.mov",type="video/mp4")
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 行動版網頁
                    .sm_text 由於這個活動需要用到 QR Code 掃描投票，行動版網頁也是一大重點，便於一般民眾參與活動，累積參與人數。
            .row.justify-content-center
                .col-12.col-lg-10
                    img(src="./images/naked_pic4.jpg").pic_all.pic_last_btm
    .container-fluid.sec4
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title.d-none.d-xl-block VIEW THE WEBSITE
                    h1.sec_title.d-xl-none WEBSITE
                    img(src="./images/naked_go.svg").svg_word.go_word
            .row.justify-content-center
                .col-12.col-md-6.col-lg-3
                    a(href="#")
                        div.go_buttun 前往網頁
                            