extend layout.jade

block loading
    -var borderColor = 'blue'
    include ./partials/loading.jade

block borders
    .top_border_blue
    .bottom_border_blue
    .right_border_blue
    .left_border_blue

block navbar
    -var path = 'works.html'
    -var logoColor = ''
    -var nav_bg= 'grey'
    -var togglerColor = 'blue'
    include ./partials/navbar.jade

block content
    .container-fluid.top_sec
        .container
            .row.justify-content-center.top_pic_sec
                .col-12.col-sm-12.col-lg-9
                    img(src="./images/cv_top.png", alt="").top_pic
    .container.sec2
        .row
            .col-12.big_title
                .title_works 履歷健診
                .title_kind Responsive Website
                .title_line.title_cv
        .row
            .col-12.col-md-4
                .works_subtitle 日期
                .works_text November 2017
            .col-12.col-md-8
                .works_subtitle 客戶
                .works_text 1111人力銀行
        .row.last_line
            .col-12.col-md-4
                .works_subtitle 參與項目
                .works_text 網頁規劃
                            br
                            | 響應式網頁設計及 HTML5 切版
                            br
                            | 網頁動態設計及部分撰寫
            .col-12.col-md-8
                .works_subtitle 目標
                .works_text 將服務推廣出去，改善他們的服務流程，讓使用者願意加入他們的會員去使用。
                            br
                            | 此網站除了主要的報名履歷健診服務外，也涵蓋了一些相關的頁面，如：成功案例、顧問群介紹、求職文章.......等等。
    .container-fluid.blue_sec.sec3
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title CASE STUDY
                    img(src="./images/cv_detail.svg").svg_word.detail_word
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 用單一色系及資料數據化呈現專業感
                    .sm_text 履歷健診是由客戶1111人力銀行推出的服務——找業界專業人士幫你看履歷以提高找到理想工作的機率。整體的頁面特別著重於呈現專業感，讓人充滿信任，願意去參與這項服務，進而去加入他們的會員。
            .row.justify-content-center
                .col-12.col-lg-10
                   img(src="./images/cv_pic1.jpg").pic_all.pic_btm
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 最重要的報名流程
                    .sm_text.sm_text_top 他們希望報名的時候使用者要先填好履歷和完成他們網站的興趣性向測驗，之後再填張報名的問卷方便他們篩選人。
                    .sm_text 因此在報名流程上，先塞選是否符合資格，如果未符合資格則可一目瞭然知道是哪邊少了，減少使用者的問題，確定符合資格後再填寫報名問卷，問卷採用一題一題出現的形式，比照以前的直接一整個表單自己選哪題要填哪題不用，來的方便許多，也不會覺得題目很多不想填了的狀態。
            .row.justify-content-center
                .col-12.col-lg-10
                    img(src="./images/cv_pic2.jpg").pic_all
                .col-12.col-lg-10
                   img(src="./images/cv_pic3.jpg").pic_all.pic_btm
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 網頁架構圖＆ Wireframe
                    .sm_text 網站的架構圖和 Wireframe 不能少，便於雙方溝通用的，減少溝通誤會，讓專案更順利。
            .row.justify-content-center
                .col-12.col-lg-10
                    img(src="./images/cv_pic4.jpg").pic_all
                .col-12.col-lg-10
                    img(src="./images/cv_pic5.jpg").pic_all.pic_last_btm
    .container-fluid.sec4
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title.d-none.d-xl-block VIEW THE WEBSITE
                    h1.sec_title.d-xl-none WEBSITE
                    img(src="./images/cv_go.svg").svg_word.go_word
            .row.justify-content-center
                .col-12.col-md-6.col-lg-3
                    a(href="#")
                        div.go_buttun.blue_btn 前往網頁
                            