extend layout.jade

block loading
    -var borderColor = 'gold'
    include ./partials/loading.jade

block borders
    .top_border_gold
    .bottom_border_gold
    .right_border_gold
    .left_border_gold

block navbar
    -var path = 'works.html'
    -var logoColor = ''
    -var nav_bg= 'grey'
    -var togglerColor = 'gold'
    include ./partials/navbar.jade

block content
    .container-fluid.top_sec
        .container
            .row.justify-content-center.top_pic_sec
                .col-12.col-sm-12.col-lg-9
                    img(src="./images/wolf_top.png", alt="").top_pic
    .container.sec2
        .row
            .col-12.big_title
                .title_works Wolf Blass 活動頁
                .title_kind Responsive Website
                .title_line.title_wolf
        .row
            .col-12.col-md-4
                .works_subtitle 日期
                .works_text July 2017
            .col-12.col-md-8
                .works_subtitle 客戶
                .works_text Wolf Blass
        .row.last_line
            .col-12.col-md-4
                .works_subtitle 參與項目
                .works_text 網頁設計
                            br
                            | 響應式網頁設計及 HTML5 切版
                            br
                            | 網頁動態設計及撰寫
            .col-12.col-md-8
                .works_subtitle 目標
                .works_text Wolf Blass 為一家知名的酒廠，本次活動希望將他們的品牌精神「追求，勇無止盡」跟運動積極進取的精神做結合，因此希望視覺上也可以將兩者做結合，活動內容為上傳照片加入做好的自製框分享到自己的 Facebook 上以此參加抽獎活動。
    .container-fluid.gold_sec.sec3
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title CASE STUDY
                    img(src="./images/wolf_detail.svg").svg_word.detail_word
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 將運動及酒品做結合
                    .sm_text 本次最大的難題是如何將運動和酒品感覺融合在一起，一開始是用原始的全彩的運動照加上酒品(上圖)，後與客戶溝通後發現他們希望還是以酒品感覺為重，再加上運動的感覺，於是就決定以剪影呈現，用背景的燈光去襯托，給人一種燈光美酒感(下圖)。
            .row.justify-content-center
                .col-12.col-lg-10.pic_all_mb
                    img(src="./images/wolf_pic1.jpg").pic_all
                .col-12.col-lg-10
                    img(src="./images/wolf_pic2.jpg").pic_all.pic_btm
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 設計運動風和旅遊風的邊框
                    .sm_text 這次的主題是勇於追求，客戶選了2種情境做表達——旅遊和運動，使用者可以選運動風或旅遊風的照片，套上喜歡的邊框做合圖並上傳分享，運動採用較動感的線條表達，旅遊則放了些旅遊度假的元素，如：墨鏡、明信片、郵戳......等等。
            .row.justify-content-center
                .col-6.col-lg-5.pic_all_mb
                    img(src="./images/wolf_pic4.jpg").pic_all
                .col-6.col-lg-5.pic_all_mb
                    img(src="./images/wolf_pic5.jpg").pic_all
            .row.justify-content-center
                .col-6.col-lg-5.pic_all_mb
                    img(src="./images/wolf_pic6.jpg").pic_all
                .col-6.col-lg-5
                    img(src="./images/wolf_pic7.jpg").pic_all.pic_btm
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 中途修改流程，參加人數大增
                    .sm_text.sm_text_top 由於參與人數比想像中少很多，所以決定簡化參加流程，以提升參加的意願。
                             br   
                             | 從原先的是否18歲的頁面，再滑到參加的按鈕中間經過了很多資訊，如活動說明、活動的主視覺、活動辦法，還要使用者自己往下拉才能看到，再加上沒有放大活動的誘因——抽iphoneＸ等等，比較重視原本活動的精神卻忽略了消費者最想看的東西，導致參加的人數過少。
                    .sm_text 而新流程改為一進去就說明是抽獎活動，有什麼大獎，然後用很直觀的方式呈現簡單的活動參加辦法，讓人很清楚要做什麼，一進去也是直接連到參加按鈕，這間單的流程大大的增加了活動參加人數，從只有幾百人變成幾千人。
            .row.justify-content-center
                .col-12.col-lg-6
                    img(src="./images/wolf_pic8.jpg").pic_all.pic_btm
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 社群廣告投放
                    .sm_text.sm_middle 廣告的素材皆為比較偏向宣傳這次的活動的大獎，藉以吸引人點擊。
            .row.justify-content-center
                .col-12.col-lg-10.pic_all_mb
                    img(src="./images/wolf_pic9.jpg").pic_all
                .col-12.col-lg-10.pic_all_mb
                    img(src="./images/wolf_pic10.jpg").pic_all
                .col-12.col-lg-10
                    img(src="./images/wolf_pic11.jpg").pic_all.pic_last_btm
    .container-fluid.sec4
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title.d-none.d-xl-block VIEW THE WEBSITE
                    h1.sec_title.d-xl-none WEBSITE
                    img(src="./images/wolf_go.svg").svg_word.go_word
            .row.justify-content-center
                .col-12.col-md-6.col-lg-3
                    a(href="#")
                        div.go_buttun.gold_btn 前往網頁