extend layout.jade

block popin
    .dropmenu_space#menu_content_banner
        ul.kind_lists_banner
            li.list(data-value="all").segment-0
                a(href="#",data-value="all").active ALL
            li.list.segment-1
                a(href="#",data-value="work") 工作轉職
            li.list.segment-2
                a(href="#",data-value="test") 測驗分析
            li.list.segment-3
                a(href="#",data-value="act") 活動
            li.list.segment-4
                a(href="#",data-value="travel") 旅遊
            li.list.segment-5
                a(href="#",data-value="pd") 商品
        .cancel_btn
            img(src="./images/cancel.png", alt="")
    .nav_mobile
        ul
            li.nav_list
                a(href="./index.html")  ABOUT
            li.nav_list
                a(href="./works.html")  WORKS:
                .works_list
                    a.nav_work.nav_work_web(href="./works_cv.html") 履歷健診
                    a.nav_work.nav_work_web(href="./works_vitoas.html") 蜜得絲 商品導購頁
                    a.nav_work.nav_work_web(href="./works_bifi.html") 比菲德氏菌 導購頁
                    a.nav_work.nav_work_web(href="./works_wolf.html") Wolf Blass 活動頁
                    a.nav_work.nav_work_web(href="./works_naked.html") 裸雀小酒館 活動頁
                    a.nav_work.nav_work_banner(href="./works_banner.html") FB / IG 廣告
                a(href="./images/resume.pdf")  RESUME
        .cancel_btn
            img(src="./images/cancel.png", alt="")
    .all_works_btn.works_btn_pink.d-none.d-lg-block
        a(href="./works.html")
            img(src="./images/btn_Allworks.png", alt="")

block loading
    -var borderColor = 'pink'
    include ./partials/loading.jade


block navbar
    -var path = 'works.html'
    -var logoColor = 'pink'
    -var nav_bg= ''
    -var togglerColor = ''
    include ./partials/navbar.jade

block content
    .works_section1
        .container
            .row.justify-content-center
                .col-11.col-sm-12
                    h1.banner_title Banner Collection
                .col-11.col-sm-12.d-none.d-md-block
                    ul.kind_lists.kind_lists_banner
                        li.list_kind(data-value="all").segment-0
                            a(href="#",data-value="all_banner").active All
                                span (43)
                        li.list_kind.segment-1
                            a(href="#",data-value="work") 工作轉職
                                span (4)
                        li.list_kind.segment-2
                            a(href="#",data-value="test") 測驗分析
                                span (5)
                        li.list_kind.segment-3
                            a(href="#",data-value="act") 活動
                                span (3)
                        li.list_kind.segment-4
                            a(href="#",data-value="travel") 旅遊
                                span (1)
                        li.list_kind.segment-5
                            a(href="#",data-value="pd") 商品
                                span (30)
                .col-11.d-md-none
                    .dropmenu
                        .dropmenu_words 
                            .words ALL
                            .dropbtn
                                img(src="./images/arrow_down.png", alt="")
                            span 43
    .works_banner_section2
        .container
            .row#masonry.justify-content-center
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v51.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v31.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v32.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v33.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v34.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p35.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p36.jpg").banner.lazyload 
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p37.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p38.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p39.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v40.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v41.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v42.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v43.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p44.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p45.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p46.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p47.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p48.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p49.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_p50.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/loading.jpg",data-src="./images/banner/banner_v1.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v2.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg", data-src="./images/banner/banner_p23.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v24.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v25.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.act.item.mb-25
                    img(src="./images/loading_sq.jpg", data-src="./images/banner/banner_p6.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.test.item.mb-25
                    img(src="./images/loading.jpg",data-src="./images/banner/banner_v7.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.test.item.mb-25
                    img(src="./images/loading.jpg",data-src="./images/banner/banner_v8.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.test.item.mb-25
                    img(src="./images/loading.jpg",data-src="./images/banner/banner_v9.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v26.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v27.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.act.item.mb-25
                    img(src="./images/loading_sq.jpg", data-src="./images/banner/banner_p11.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/loading.jpg",data-src="./images/banner/banner_v12.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.travel.item.mb-25
                    img(src="./images/loading_p13.jpg", data-src="./images/banner/banner_p13.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.test.item.mb-25
                    img(src="./images/loading.jpg",data-src="./images/banner/banner_v14.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/loading_sq.jpg", data-src="./images/banner/banner_p15.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.act.item.mb-25
                    img(src="./images/loading_sq.jpg", data-src="./images/banner/banner_p16.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg", data-src="./images/banner/banner_p30.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.test.item.mb-25
                    img(src="./images/loading.jpg",data-src="./images/banner/banner_v18.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg",data-src="./images/banner/banner_v28.gif").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg", data-src="./images/banner/banner_p29.jpg").banner.lazyload
                .col-11.col-sm-6.col-lg-4.pd.item.mb-25
                    img(src="./images/loading_sq.jpg", data-src="./images/banner/banner_p32.jpg").banner.lazyload

                
               