extend layout.jade

block popin
    .dropmenu_space#menu_content_banner
        ul.kind_lists_banner
            li.list(data-value="all").segment-0
                a(href="#",data-value="all").active ALL
            li.list.segment-1
                a(href="#",data-value="work") 工作轉職
            li.list.segment-2
                a(href="#",data-value="test") 測驗分析
            li.list.segment-3
                a(href="#",data-value="act") 活動
            li.list.segment-4
                a(href="#",data-value="travel") 旅遊
        .cancel_btn
            img(src="./images/cancel.png", alt="")

block loading
    -var borderColor = 'pink'
    include ./partials/loading.jade

block borders
    .top_border_pink
    .bottom_border_pink
    .right_border_pink
    .left_border_pink

block navbar
    -var path = 'works.html'
    -var logoColor = 'pink'
    -var nav_bg= ''
    -var togglerColor = ''
    include ./partials/navbar.jade

block content
    .works_section1
        .container
            .row.justify-content-center
                .col-11.col-sm-12
                    h1.banner_title Banner Collection
                .col-11.col-sm-12.d-none.d-md-block
                    ul.kind_lists.kind_lists_banner
                        li.list_kind(data-value="all").segment-0
                            a(href="#",data-value="all_banner").active All
                                span (22)
                        li.list_kind.segment-1
                            a(href="#",data-value="work") 工作轉職
                                span (7)
                        li.list_kind.segment-2
                            a(href="#",data-value="test") 測驗分析
                                span (6)
                        li.list_kind.segment-3
                            a(href="#",data-value="act") 活動
                                span (8)
                        li.list_kind.segment-4
                            a(href="#",data-value="travel") 旅遊
                                span (1)
                .col-11.d-md-none
                    .dropmenu
                        .dropmenu_words 
                            .words ALL
                            .dropbtn
                                img(src="./images/arrow_down.png", alt="")
                            span 22
    .works_banner_section2
        .container
            .row#masonry.justify-content-center
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/banner/banner_v1.jpg",srcset="./images/banner/banner_v1.gif").banner
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/banner/banner_v2.jpg",srcset="./images/banner/banner_v2.gif").banner
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/banner/banner_v4.jpg",srcset="./images/banner/banner_v4.gif").banner
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/banner/banner_v5.jpg",srcset="./images/banner/banner_v5.gif").banner
                .col-11.col-sm-6.col-lg-4.act.item.mb-25
                    img(src="./images/banner/banner_p6.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.test.item.mb-25
                    img(src="./images/banner/banner_v7.jpg",srcset="./images/banner/banner_v7.gif").banner
                .col-11.col-sm-6.col-lg-4.test.item.mb-25
                    img(src="./images/banner/banner_v8.jpg",srcset="./images/banner/banner_v8.gif").banner
                .col-11.col-sm-6.col-lg-4.test.item.mb-25
                    img(src="./images/banner/banner_v9.jpg",srcset="./images/banner/banner_v9.gif").banner
                .col-11.col-sm-6.col-lg-4.act.item.mb-25
                    img(src="./images/banner/banner_p10.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.act.item.mb-25
                    img(src="./images/banner/banner_p11.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/banner/banner_v12.jpg",srcset="./images/banner/banner_v12.gif").banner
                .col-11.col-sm-6.col-lg-4.travel.item.mb-25
                    img(src="./images/banner/banner_p13.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.test.item.mb-25
                    img(src="./images/banner/banner_v14.jpg",srcset="./images/banner/banner_v14.gif").banner
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/banner/banner_p15.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.act.item.mb-25
                    img(src="./images/banner/banner_p16.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.test.item.mb-25
                    img(src="./images/banner/banner_p17.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.test.item.mb-25
                    img(src="./images/banner/banner_v18.jpg",srcset="./images/banner/banner_v18.gif").banner
                .col-11.col-sm-6.col-lg-4.act.item.mb-25
                    img(src="./images/banner/banner_p19.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.act.item.mb-25
                    img(src="./images/banner/banner_p20.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/banner/banner_v21.jpg",srcset="./images/banner/banner_v21.gif").banner
                .col-11.col-sm-6.col-lg-4.work.item.mb-25
                    img(src="./images/banner/banner_p22.jpg", alt="", srcset="").banner