extend layout.jade

block popin
    .nav_mobile.nav_mobile_bifi
        ul
            li.nav_list
                a(href="./index.html")  ABOUT
            li.nav_list
                a(href="javascript:void(0)")  WORKS:
                .works_list
                    a.nav_work.nav_work_web(href="./works_cv.html") 履歷健診
                    a.nav_work.nav_work_web(href="./works_vitoas.html") 蜜得絲 商品導購頁
                    a.nav_work.nav_work_web(href="./works_bifi.html") 比菲德氏菌 導購頁
                    a.nav_work.nav_work_web(href="./works_nijigen.html") NIJIGEN 官方網頁
                    a.nav_work.nav_work_banner(href="./works_banner.html") Banner Collection
                    a.nav_work.nav_work_banner(href="./works_graphic.html") 平面印刷品
                    a.nav_work.nav_work_web(href="./works_naked.html") 裸雀小酒館 活動頁
            li.nav_list
                a(href="./images/resume.pdf")  RESUME
        .cancel_btn
            img(src="./images/cancel.png", alt="")
    //- .all_works_btn.works_btn_bifi.d-none.d-lg-block
    //-     a(href="./works.html")
    //-         img(src="./images/btn_Allworks.png", alt="")

block loading
    -var borderColor = 'bifi'
    include ./partials/loading.jade


block navbar
    -var path = 'works.html'
    -var logoColor = ''
    -var nav_bg= 'bifi'
    -var togglerColor = 'bifi'
    include ./partials/navbar.jade

block content
    .container-fluid.top_sec_mobile.top_sec_bifi
        .container
            .row.justify-content-center.top_pic_sec_mobile
                .col-12.col-md-5.col-xl-4.offset-lg-6
                    img(src="./images/index_cell_bifi.png", alt="").top_pic
    .container-fluid.sec2
        .container
            .row
                .col-12.big_title
                    .title_works 比菲德氏菌 導購頁
                    .title_kind Mobile Website
                    .title_line.title_bifi
            .row
                .col-12.col-md-4
                    .works_subtitle 日期
                    .works_text December 2018 - March 2020
                .col-12.col-md-8
                    .works_subtitle 客戶
                    .works_text 廣告代理商
            .row.last_line
                .col-12.col-md-4
                    .works_subtitle 參與項目
                    .works_text Banner 製作
                                br
                                | 廣告吉祥物設計
                                br
                                | 網頁設計及HTML5切版
                .col-12.col-md-8
                    .works_subtitle 目標
                    .works_text 確認商品主要廣告風格走向、設計廣告吉祥物，廣告及網頁目標都是要增加下單率。
    .container-fluid.sec3
        .container
           .row.sec_title_block
                .col-12.col-lg-4
                    h1.sec_title CASE STUDY
                .col-12.col-lg-8
                    div.title_divide_line
            .row.work_introduce_block
                .col-12.col-lg-4
                    div.pic_num_div.number_color_bifi 01
                    .sm_title 由產品不同成份擬人化作為吉祥物
                .col-12.col-lg-8
                    .sm_text 參考市面上多項競品風格，選用比較可愛的風格去展現各種成分，形狀有參考真實菌種的長相，也設定了指定色，讓之後的相關設計有固定的顏色去展現成分。
            .row
                .col-12
                    img(src="./images/bifi_pic/bifi_pic1-1.jpg").pic_all.pic_btm
            .row
                .col-12.col-md-6
                    img(src="./images/bifi_pic/bifi_pic1-2.jpg").pic_all.pic_btm_mobile
                .col-12.col-md-6
                    img(src="./images/bifi_pic/bifi_pic1-3.jpg").pic_all

            .row.work_introduce_block
                .col-12.col-lg-4
                    div.pic_num_div.number_color_bifi 02
                    .sm_title 不只親切且讓人信賴的風格
                .col-12.col-lg-8
                    .sm_text 台灣人很習慣看部落客或是一般的素材心得然後購買東西，頁面裡面有很多使用者使用心得、照片和介紹裡面成份的說明，更附上了熱銷100萬袋的數字和一些網路媒體給的具有公信力的獎章就是希望給消費者一種可以信賴的感覺。
            .row
                .col-12.col-md-6
                    img(src="./images/bifi_pic/bifi_pic2-1.jpg").pic_all.pic_btm_mobile
                .col-12.col-md-6
                    img(src="./images/bifi_pic/bifi_pic2-2.jpg").pic_all.pic_btm
                    img(src="./images/bifi_pic/bifi_pic2-3.jpg").pic_all
            .row.work_introduce_block
                .col-12.col-lg-4
                    div.pic_num_div.number_color_bifi 03
                    .sm_title 製作社群廣告
                .col-12.col-lg-8
                    .sm_text.sm_text_top 投放地點為 Facebook 和 Instagram，因為主要消費者是20-30歲女性，且目的是希望可以更健康，所以參考了市面上大多數的益生菌廣告，配合原有的吉祥物和包裝上的藍色，最後決定做這種女性比較喜歡的清新健康活潑的風格。
            .row.justify-content-center.last_block
                .col-12.col-md-6
                    img(src="./images/bifi_pic/bifi_pic3-1.jpg").pic_all.pic_btm
                    img(src="./images/bifi_pic/bifi_pic3-3.jpg").pic_all.pic_btm
                    img(src="./images/bifi_pic/bifi_pic3-5.jpg").pic_all.pic_btm_mobile
                .col-12.col-md-6
                    img(src="./images/bifi_pic/bifi_pic3-2.jpg").pic_all.pic_btm
                    img(src="./images/bifi_pic/bifi_pic3-4.jpg").pic_all.pic_btm
                    img(src="./images/bifi_pic/bifi_pic3-6.jpg").pic_all
            .row.sec_title_block
                .col-12.col-lg-2
                    h1.sec_title WEB
                .col-12.col-lg-10
                    div.title_divide_line
            .row.justify-content-center.last_block
                .col-12
                    .div.bifi_sec.vedio_bg_sec
                    .row.justify-content-center
                        .col-12.col-sm-8.col-lg-6
                            video(autoplay,loop,muted,playsinline).long_video
                                source(src="./images/video/bifi.mp4",type="video/mp4")
    .container-fluid.sec4
        .container 
            .row
                .col
                    div.double_line
            .row.justify-content-between
                .col-4
                    p.page_pre.page_dir PREV/
                .col-4
                    p.page_next.page_dir NEXT/
            .row.justify-content-between
                .col-6.col-lg-4
                    a(href="./works_vitoas.html")
                        p.page_pre.page_name.page_name_bifi 蜜得絲 Vitoas
                                                br
                                                | 導購頁
                .col-6.col-lg-4
                    a(href="./works_nijigen.html")
                        p.page_next.page_name.page_name_bifi NIJIGEN
                                                br
                                                | 官方網站
            .row
                .col
                    div.double_line
            .row
                .col
                    div.copyright © 2017 — 2021 LyaChang  All right reserved
               