extend layout.jade

block popin
    .nav_mobile.nav_mobile_gold
        ul
            li.nav_list
                a(href="./index.html")  ABOUT
            li.nav_list
                a(href="javascript:void(0)")  WORKS:
                .works_list
                    a.nav_work.nav_work_web(href="./works_cv.html") 履歷健診
                    a.nav_work.nav_work_web(href="./works_vitoas.html") 蜜得絲 商品導購頁
                    a.nav_work.nav_work_web(href="./works_bifi.html") 比菲德氏菌 導購頁
                    a.nav_work.nav_work_web(href="./works_nijigen.html") NIJIGEN 官方網頁
                    a.nav_work.nav_work_banner(href="./works_banner.html") Banner Collection
                    a.nav_work.nav_work_banner(href="./works_graphic.html") 平面印刷品
                    a.nav_work.nav_work_web(href="./works_naked.html") 裸雀小酒館 活動頁
            li.nav_list
                a(href="./images/resume.pdf")  RESUME
        .cancel_btn
            img(src="./images/cancel.png", alt="")
    .all_works_btn.works_btn_gold.d-none.d-lg-block
        a(href="./works.html")
            img(src="./images/btn_Allworks.png", alt="")

block loading
    -var borderColor = 'gold'
    include ./partials/loading.jade


block navbar
    -var path = 'works.html'
    -var logoColor = ''
    -var nav_bg= 'gold'
    -var togglerColor = 'gold'
    include ./partials/navbar.jade

block content
    .container-fluid.top_sec.top_sec_gold
        .container
            .row.justify-content-center.top_pic_sec
                .col-12.col-sm-12.col-lg-9
                    img(src="./images/wolf_top.png", alt="").top_pic
    .container.sec2
        .row
            .col-12.big_title
                .title_works Wolf Blass 活動頁
                .title_kind Responsive Website
                .title_line.title_wolf
        .row
            .col-12.col-md-4
                .works_subtitle 日期
                .works_text July 2017
            .col-12.col-md-8
                .works_subtitle 客戶
                .works_text Wolf Blass
        .row.last_line
            .col-12.col-md-4
                .works_subtitle 參與項目
                .works_text 響應式網頁設計及 HTML5 切版
                            br
                            | 網頁動態設計及撰寫
            .col-12.col-md-8
                .works_subtitle 目標
                .works_text Wolf Blass 為一家知名的酒廠，本次活動希望將他們的品牌精神「追求，勇無止盡」跟運動積極進取的精神做結合，因此希望視覺上也可以將兩者做結合，活動內容為上傳照片加上做好的自製框分享到自己的 Facebook 上以此參加抽獎活動。
    .container-fluid.gold_sec.sec3
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title CASE STUDY
                    img(src="./images/wolf_detail.png").svg_word.detail_word
            .row.justify-content-center
                .col-12.col-lg-2
                    div.pic_num_div
                        img(src="./images/num_wolf_01.png").pic_num
                .col-12.col-lg-9
                    .sm_title 將運動及酒品做結合
                    .sm_text 本次最大的難題是如何將運動和酒品感覺融合在一起，一開始是用原始的全彩的運動照加上酒品，後與客戶溝通後發現他們希望還是以酒品感覺為重，再加上運動的感覺，於是就決定以剪影呈現，用背景的燈光去襯托，給人一種燈光美酒感。
            .row.justify-content-center
                .col-12.col-lg-10
                    img(src="./images/wolf_pic1.png").pic_all.pic_btm
            .row.justify-content-center
                .col-12.col-lg-2
                    div.pic_num_div
                        img(src="./images/num_wolf_02.png").pic_num
                .col-12.col-lg-9
                    .sm_title 設計運動風和旅遊風的邊框
                    .sm_text.sm_text_top 這次的主題是勇於追求，客戶選了2種情境做表達——旅遊和運動，使用者可以選運動風或旅遊風的照片，套上喜歡的邊框做合圖並上傳分享，每個情境各要設計2款不同邊框。
                    .sm_text 為了可以跟任何照片百搭，運動邊框參考了許多運動風格設計或海報，不用具體的球類或是各式運動的剪影，只採用動感的線條，配上運動的照片後．自然就具有運動海報的躍動感。旅遊邊框也是為求百搭，一個邊框設計成明信片的樣式，另一個則用草寫字加上墨鏡，營造旅遊悠閒感。
            .row.justify-content-center
                .col-12.col-lg-10
                    img(src="./images/wolf_pic2.png").pic_all.pic_btm
            .row.justify-content-center
                .col-12.col-lg-2
                    div.pic_num_div
                        img(src="./images/num_wolf_03.png").pic_num
                .col-12.col-lg-9
                    .sm_title 中途修改流程，參加人數大增
                    .sm_text.sm_text_top 由於一開始參與人數比想像中少很多，決定要再改版網頁。
                             br   
                             | 研究後發現問題可能是
                             br
                             | 1. 沒有強調抽獎的獎品，只有在活動條款裡提到
                             br
                             | 2. 抽獎方式因為是一塊塊下來，可能不少人覺得麻煩就不參與了

                    .sm_text 新流程改為一進去就說明是抽獎活動，有什麼大獎，然後用很直觀的方式呈現簡單的活動參加辦法，讓人很清楚要做什麼，且和是否18歲的前導頁融合，一進去也是直接連到參加按鈕，這簡單的流程大大的增加了活動參加人數，從不到一百人變成幾千人參加。
            .row.justify-content-center
                .col-12.col-lg-10
                    img(src="./images/wolf_pic3.png").pic_all.pic_last_btm
            .row.justify-content-center
                 .col-12.col-sm-8.col-lg-10
                    video(autoplay,loop,muted,playsinline).long_video
                        source(src="./images/video/wolf.mp4",type="video/mp4")
    .container-fluid.sec4
        .container
            .row.justify-content-between
                .col-4
                    p.page_pre.page_dir PREV
                .col-4
                    p.page_next.page_dir NEXT
            .row.justify-content-between
                .col-6.col-lg-4
                    a(href="./works_naked.html")
                        p.page_pre.page_name.page_name_wolf 裸雀小酒館
                                                br
                                                | 活動頁
                .col-6.col-lg-4
                    a(href="./works_banner.html")
                        p.page_next.page_name.page_name_wolf FACEBOOK 廣告
                                                br
                                                | INSTAGRAM 廣告