extend layout.jade

block loading
    -var borderColor = 'pink'
    include ./partials/loading.jade

block borders
    .top_border_pink
    .bottom_border_pink
    .right_border_pink
    .left_border_pink

block navbar
    -var path = 'works.html'
    -var logoColor = 'pink'
    -var nav_bg= ''
    -var togglerColor = ''
    include ./partials/navbar.jade

block content
    .works_section1
        .container
            .row.justify-content-center
                .col-11.col-sm-12
                    h1.banner_title Banner Collection
                .col-11.col-sm-12
                    ul.kind_lists.kind_lists_banner
                        li.list_kind(data-value="all").segment-0
                            a(href="#",data-value="all_banner").active All
                                span (22)
                        li.list_kind.segment-1
                            a(href="#",data-value="work") 工作轉職
                                span (7)
                        li.list_kind.segment-2
                            a(href="#",data-value="test") 測驗分析
                                span (6)
                        li.list_kind.segment-3
                            a(href="#",data-value="act") 活動
                                span (8)
                        li.list_kind.segment-4
                            a(href="#",data-value="travel") 旅遊
                                span (1)
    .works_banner_section2
        .container
            .row.box
                .col-11.col-sm-6.col-lg-4.work.item
                    video(playsinline,loop,autoplay).banner
                        source(src="./images/banner/banner_v1.mp4",type="video/mp4")
                .col-11.col-sm-6.col-lg-4.work.item
                    video(playsinline,loop,autoplay).banner
                            source(src="./images/banner/banner_v2.mp4",type="video/mp4")
                .col-11.col-sm-6.col-lg-4.work.item
                    video(playsinline,loop,autoplay).banner
                            source(src="./images/banner/banner_v4.mp4",type="video/mp4")
                .col-11.col-sm-6.col-lg-4.work.item
                    video(playsinline,loop,autoplay).banner
                            source(src="./images/banner/banner_v5.mp4",type="video/mp4")
                .col-11.col-sm-6.col-lg-4.act.item
                    img(src="./images/banner/banner_p6.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.test.item
                    video(playsinline,loop,autoplay).banner
                            source(src="./images/banner/banner_v7.mp4",type="video/mp4")
                .col-11.col-sm-6.col-lg-4.test.item
                    video(playsinline,loop,autoplay).banner
                            source(src="./images/banner/banner_v8.mp4",type="video/mp4")
                .col-11.col-sm-6.col-lg-4.test.item
                    video(playsinline,loop,autoplay).banner
                            source(src="./images/banner/banner_v9.mp4",type="video/mp4")
                .col-11.col-sm-6.col-lg-4.act.item
                   img(src="./images/banner/banner_p10.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.act.item
                    img(src="./images/banner/banner_p11.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.work.item
                    video(playsinline,loop,autoplay).banner
                            source(src="./images/banner/banner_v12.mp4",type="video/mp4")
                .col-11.col-sm-6.col-lg-4.travel.item
                    img(src="./images/banner/banner_p13.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.test.item
                    video(playsinline,loop,autoplay).banner
                            source(src="./images/banner/banner_v14.mp4",type="video/mp4")
                .col-11.col-sm-6.col-lg-4.work.item
                    img(src="./images/banner/banner_p15.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.act.item
                   img(src="./images/banner/banner_p16.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.test.item
                    img(src="./images/banner/banner_p17.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.test.item
                    video(playsinline,loop,autoplay).banner
                            source(src="./images/banner/banner_v18.mp4",type="video/mp4")
                .col-11.col-sm-6.col-lg-4.act.item
                   img(src="./images/banner/banner_p19.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.act.item
                    img(src="./images/banner/banner_p20.jpg", alt="", srcset="").banner
                .col-11.col-sm-6.col-lg-4.work.item
                    video(playsinline,loop,autoplay).banner
                            source(src="./images/banner/banner_v21.mp4",type="video/mp4")
                .col-11.col-sm-6.col-lg-4.work.item
                    img(src="./images/banner/banner_p22.jpg", alt="", srcset="").banner
                        
                