extend layout.jade

block loading
    -var borderColor = 'gray'
    include ./partials/loading.jade

block borders
    .top_border_grey
    .bottom_border_grey
    .right_border_grey
    .left_border_grey

block navbar
    -var path = 'works.html'
    -var logoColor = ''
    -var nav_bg= 'grey'
    -var togglerColor = 'grey'
    include ./partials/navbar.jade

block content
    .container-fluid.top_sec_mobile
        .container
            .row.justify-content-center.top_pic_sec_mobile
                .col-12.col-sm-5.col-lg-4.offset-sm-6
                    img(src="./images/reminder_top.png", alt="").top_pic
    .container.sec2
        .row
            .col-12.big_title
                .title_works 交通助理
                .title_kind iOS Application
                .title_line.title_reminder
        .row
            .col-12.col-md-4
                .works_subtitle 日期
                .works_text November 2016
            .col-12.col-md-8
                .works_subtitle 客戶
                .works_text 個人專案
        .row.last_line
            .col-12.col-md-4
                .works_subtitle 參與項目
                .works_text 整體設計規劃
                            br
                            | 程式撰寫
            .col-12.col-md-8
                .works_subtitle 目標
                .works_text 針對通勤族和學生設計一款提醒你記得下車的 App ，尤其是低頭族們。
    .container-fluid.reminder_sec.sec3
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title CASE STUDY
                    img(src="./images/reminder_detail.svg").svg_word.detail_word
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 發想
                    .sm_text 常聽到很多人會分享說：「我又不小心坐過頭了」實際到捷運或公車上看，發現到很多人在埋頭滑手機或是睡覺，有時熱門時段人很多很吵雜，根本聽不到下一站的站名，不注意的話一不小心就坐過站了。
            .row.justify-content-center
                .col-12.col-lg-10
                    img(src="./images/reminder_pic1.jpg").pic_all.pic_btm
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 需求設定
                    .sm_text 根據目標族群(通勤族)的需要，制定了幾個需求：
                            br
                            | 1. 從家裡出發到公車站，公車馬上進站
                            br
                            | 2. 不要坐過站
                            br
                            | 3. 有些上班族是隔週休
                            br
                            | 4. 通勤來回路線很有可能是一樣的
                            br
                            | 5. A 站到 B 站，同時有兩路公車可以選擇，不管來哪班都要提醒
                            br
                            | 6. 轉乘
            .row.justify-content-center
                .col-12.col-lg-10
                    img(src="./images/reminder_pic2.jpg").pic_all.pic_btm
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 希望步驟懶人化
                    .sm_text 每天都要接觸的東西，希望是越直覺越好，可以少輸入的東西就少輸入東西，現代人普遍都很少花時間去設定，因此我希望可以用最簡單的方式達到上面的需求，最後是用路線規劃的方式，來輔助使用者輸入要提醒的站牌。
            .row.justify-content-center
                .col-12.col-lg-6
                    img(src="./images/reminder_pic3.jpg").pic_all.pic_btm
            .row.justify-content-center
                .col-12.col-lg-10
                    .sm_title 將重點凸顯，快速辨識路線
                    .sm_text.sm_middle 將捷運各路線顏色保留，方便辨識所有的路線，因此底色使用了百搭的灰色。
             .row.justify-content-center
                .col-6.col-lg-4
                    img(src="./images/reminder_pic4.jpg").pic_all
                .col-6.col-lg-4
                    img(src="./images/reminder_pic5.jpg").pic_all.pic_btm
            .row.justify-content-center
                .col-12.col-lg-10
                    img(src="./images/reminder_pic6.png").pic_all.pic_last_btm
    .container-fluid.sec4
        .container
            .row.justify-content-center
                .sec_title_block
                    h1.sec_title.d-none.d-xl-block VIEW THE APP
                    h1.sec_title.d-xl-none APPLICATION
                    img(src="./images/reminder_go.svg").svg_word.go_word
            .row.justify-content-center
                .col-12.col-md-6.col-lg-3
                    a(href="#")
                        div.go_buttun 前往網頁