extend layout.jade

block loading
    -var borderColor = 'blue'
    include ./partials/loading.jade

block navbar
    -var path = 'works.html'
    -var logoColor = ''
    include ./partials/navbar.jade

block content